@import "bootstrap/bootswatch/variables";
@import "bootstrap/variables";

// override externally loaded stylesheet (bootstrap)
.layout--splash {
  background-color: $background-color;
  color: $text-color;

  a:hover {
    text-decoration: none;
  }
}

.page__hero--overlay .wrapper{
  background-color: rgba(0,0,0,0.5);
  border-radius: $border-radius;
  padding: 1em;
}

.card-list .card:not(:first-child) {
  margin-top: 1em;
}

.dropdown-custom {
  position: relative;
  display: inline-block;
}

.dropdown-masthead a{
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.dropdown-menu-custom {
  border-radius: $border-radius;
  position: absolute;
  z-index: 1000;
  display: none; // none by default, but block on "open" of the menu
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y $dropdown-padding-x;
  margin: 0; // Override default margin of ul
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;

  &[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: $dropdown-spacer;
  }
}

.dropdown-custom:hover .dropdown-menu-custom {
    display: block;
}

.dropdown-item-custom {
    margin: 0rem !important;
    display: block;
    width: 100%; // For `<button>`s
    text-decoration: none;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    clear: both;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s

    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
      text-decoration: none;
    }
}