@import "bootstrap/bootswatch/variables";
@import "bootstrap/variables";

// override externally loaded stylesheet (bootstrap)
.layout--splash {
  background-color: $background-color;
  color: $text-color;

  a:hover {
    text-decoration: none;
  }
}

.page__hero--overlay .wrapper > *:not(:empty) {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: $border-radius;
  padding: 1em;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -5px -5px;
  justify-content: center;

  & .card {
    flex: 1 1 33%;
    margin: 5px 5px;
    max-width: 450px;
    min-width: 300px;
  }

  & .card:not(:first-child) {
    // margin-top: 1em;
  }
}

.team-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(110px + 9rem);
  justify-content: space-between;

  & h2 {
    text-align: center;
  }

  & .author__avatar img{
    max-height: 110px;
    margin-top: 1em;
  }
}

.dropdown-custom {
  position: relative;
  display: inline-block;
}

.dropdown-masthead a {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.dropdown-menu-custom {
  border-radius: $border-radius;
  position: absolute;
  z-index: 1000;
  display: none; // none by default, but block on "open" of the menu
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y $dropdown-padding-x;
  margin: 0; // Override default margin of ul
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;

  &[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: $dropdown-spacer;
  }
}

.dropdown-custom:hover .dropdown-menu-custom {
  display: block;
}

.dropdown-item-custom {
  margin: 0rem !important;
  display: block;
  width: 100%; // For `<button>`s
  text-decoration: none;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s

  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
    text-decoration: none;
  }
}

.news-aside {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em;
  background-color: $white;
  color: black;
  border-radius: $border-radius;
  height: 50vh;

  & .news-content {
    /**Major Properties**/
    overflow: hidden;
    line-height: 1rem;
    max-height: 3rem;
    -webkit-box-orient: vertical;
    display: inline-block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-size: $font-size-sm;
    margin-top: 0.25rem;
    color: $secondary;
  }

  & .btn {
    font-size: $font-size-xs;
    margin-top: 1em;
  }

  & .news-date {
    font-size: $font-size-xs;
    display: block;
    text-align: end;
    color: $secondary;
  }

  & .news-title {
    color: $primary;
  }
}

.news-list {
  list-style-type: none;
  padding: 0em;

  & li {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $secondary;
  }
  & li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.news-background {
  height: 50vh;
  object-fit: cover;
}

.page__content iframe {
  width: 100%;
  height: 70vh;
}

.alert {
  padding: 1em;
}